*{
    box-sizing: border-box;
}
body {
    margin: 0;
  }
  .gpd-header{
    margin:0;
  }
  body{
    color:#555555;
    font-family:Helvetica, serif;
    background-image:linear-gradient(rgba(254,254,254,0.74),rgba(254,254,254,0.74)), url(https://images.unsplash.com/photo-1435732960391-11053ee5e6b6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyNzA1fQ);
    background-repeat:repeat, no-repeat;
    background-position:left top, center top;
    background-attachment:scroll, scroll;
    background-size:auto, cover;
  }
  #i5oq1{
    min-height:100vh;
    font-family:Tahoma, Geneva, sans-serif;
  }
  #ijh0h{
    background-color:white;
    box-shadow:0 15px 30px 3px rgba(0,0,0,0.15) ;
    border-radius:3px 3px 3px 3px;
    padding:0 0 0 0;
  }
  #ial4t{
    padding:30px 30px 30px 30px;
    flex-basis:85.56%;
  }
  #imf4i{
    height:100%;
    align-items:center;
    justify-content:center;
  }
  #i047o{
    flex:0 1 auto;
    flex-basis:100%;
    max-width:750px;
  }
  #irity{
    display:none;
  }
  #i9gcr{
    display:none;
  }
  #icimi{
    background-color:#106bd3;
  }
  .container {
    /* Set child value */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }